body {
  font-family: 'Segoe UI';
  padding: 15px;
}

table, th, td {
  border: 1px solid;
}

button {
  background-color: #104D7F;
  border: none;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover{
  background-color: #103D50;
}